n8n-workflow-complete.json
{
  "name": "Capital Game API - Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "player-snapshot",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-save-snapshot",
      "name": "Webhook: Save Snapshot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "save-snapshot"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные из body запроса\nconst body = $input.first().json?.body || $input.first().json || $json?.body || $json;\n\n// Проверяем наличие обязательных полей\nconst { telegramId, player, market, events, lastSyncedAt, missions, achievements, availableProperties } = body || {};\n\nif (!telegramId || telegramId <= 0) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'telegramId is required and must be positive',\n\t\t\treceived: { telegramId, hasBody: !!body }\n\t\t},\n\t}];\n}\n\nif (!player || !market || lastSyncedAt === undefined) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'player, market, and lastSyncedAt are required',\n\t\t\treceived: {\n\t\t\t\thasPlayer: !!player,\n\t\t\t\thasMarket: !!market,\n\t\t\t\thasLastSyncedAt: lastSyncedAt !== undefined\n\t\t\t}\n\t\t},\n\t}];\n}\n\n// Подготавливаем данные для сохранения\nconst playerData = JSON.stringify(player);\nconst marketData = JSON.stringify(market);\nconst eventsData = JSON.stringify(events || []);\nconst missionsData = JSON.stringify(missions || []);\nconst achievementsData = JSON.stringify(achievements || []);\nconst availablePropertiesData = JSON.stringify(availableProperties || []);\n\n// SQL запрос для вызова функции upsert (однострочный, без комментариев)\nconst query = \"SELECT upsert_player_snapshot($1::BIGINT, $2::JSONB, $3::JSONB, $4::JSONB, $5::BIGINT, $6::JSONB, $7::JSONB, $8::JSONB) as result;\";\n\n// Возвращаем данные для PostgreSQL node\n// ВАЖНО: parameters должен быть массивом\nconst parametersArray = [\n\ttelegramId,\n\tplayerData,\n\tmarketData,\n\teventsData,\n\tlastSyncedAt,\n\tmissionsData,\n\tachievementsData,\n\tavailablePropertiesData\n];\n\nreturn [{\n\tjson: {\n\t\tquery: query,\n\t\tparameters: parametersArray,\n\t\t_metadata: {\n\t\t\ttelegramId: telegramId,\n\t\t\tlastSyncedAt: lastSyncedAt,\n\t\t\thasMissions: !!missions && missions.length > 0,\n\t\t\thasAchievements: !!achievements && achievements.length > 0,\n\t\t\thasAvailableProperties: !!availableProperties && availableProperties.length > 0\n\t\t}\n\t}\n}];"
      },
      "id": "code-prepare-save",
      "name": "Code: Prepare Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": true
        },
        "additionalFields": {
          "queryParameters": "={{ $json.parameters || [] }}"
        }
      },
      "id": "postgres-save-snapshot",
      "name": "Postgres: Save Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Capital Game"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка результата сохранения\nconst input = $input.first().json;\nconst metadata = $('Code: Prepare Save').item.json._metadata;\n\n// Проверяем, была ли ошибка\nif (input.error) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'Database error: ' + input.error.message,\n\t\t\terror: input.error\n\t\t}\n\t}];\n}\n\n// Успешное сохранение\nreturn [{\n\tjson: {\n\t\tsuccess: true,\n\t\ttelegramId: metadata.telegramId,\n\t\tlastSyncedAt: metadata.lastSyncedAt,\n\t\tmessage: 'Snapshot saved successfully'\n\t}\n}];"
      },
      "id": "code-response-save",
      "name": "Code: Response Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "player-snapshot",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-get-snapshot",
      "name": "Webhook: Get Snapshot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "webhookId": "get-snapshot"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем telegramId из query параметров\nconst query = $input.first().json?.query || {};\nconst telegramId = query.telegramId || $input.first().json?.telegramId;\n\nif (!telegramId || telegramId <= 0) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'telegramId is required in query parameters',\n\t\t\treceived: { telegramId, query: query }\n\t\t},\n\t}];\n}\n\n// SQL запрос для получения snapshot (однострочный)\nconst sqlQuery = \"SELECT player_data, market_data, events_data, missions_data, achievements_data, available_properties_data, last_synced_at FROM player_snapshots WHERE telegram_id = $1::BIGINT;\";\n\n// Возвращаем данные для PostgreSQL node\nreturn [{\n\tjson: {\n\t\tquery: sqlQuery,\n\t\tparameters: [telegramId],\n\t\t_metadata: {\n\t\t\ttelegramId: telegramId,\n\t\t\toperation: 'get_snapshot'\n\t\t}\n\t}\n}];"
      },
      "id": "code-prepare-get",
      "name": "Code: Prepare Get",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": true
        },
        "additionalFields": {
          "queryParameters": "={{ $json.parameters || [] }}"
        }
      },
      "id": "postgres-get-snapshot",
      "name": "Postgres: Get Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Capital Game"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка результата получения snapshot\nconst result = $input.first().json;\nconst metadata = $('Code: Prepare Get').item.json._metadata;\n\n// Проверяем, была ли ошибка\nif (result.error) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'Database error: ' + result.error.message,\n\t\t\terror: result.error\n\t\t}\n\t}];\n}\n\n// Проверяем, найден ли snapshot\nif (!result || result.length === 0 || !result[0]) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'Player snapshot not found',\n\t\t\ttelegramId: metadata.telegramId\n\t\t}\n\t}];\n}\n\nconst snapshot = result[0];\n\n// Форматируем ответ в формате, ожидаемом клиентом\nreturn [{\n\tjson: {\n\t\tsuccess: true,\n\t\tplayer: snapshot.player_data,\n\t\tmarket: snapshot.market_data,\n\t\tevents: snapshot.events_data,\n\t\tmissions: snapshot.missions_data,\n\t\tachievements: snapshot.achievements_data,\n\t\tavailableProperties: snapshot.available_properties_data,\n\t\tlastSyncedAt: snapshot.last_synced_at\n\t}\n}];"
      },
      "id": "code-response-get",
      "name": "Code: Response Get",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-auth",
      "name": "Webhook: Auth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700],
      "webhookId": "auth"
    },
    {
      "parameters": {
        "jsCode": "// Обработка авторизации\nconst body = $input.first().json?.body || $input.first().json || $json?.body || $json;\nconst { telegramId, initData } = body || {};\n\nif (!telegramId || telegramId <= 0) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'telegramId is required and must be positive'\n\t\t}\n\t}];\n}\n\n// Проверяем, существует ли игрок в БД\nconst checkQuery = \"SELECT telegram_id, player_id, created_at FROM players WHERE telegram_id = $1::BIGINT;\";\n\nreturn [{\n\tjson: {\n\t\tquery: checkQuery,\n\t\tparameters: [telegramId],\n\t\ttelegramId: telegramId,\n\t\tinitData: initData,\n\t\t_metadata: {\n\t\t\toperation: 'check_player_exists'\n\t\t}\n\t}\n}];"
      },
      "id": "code-prepare-auth",
      "name": "Code: Prepare Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": true
        },
        "additionalFields": {
          "queryParameters": "={{ $json.parameters || [] }}"
        }
      },
      "id": "postgres-check-player",
      "name": "Postgres: Check Player",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 700],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Capital Game"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка результата проверки игрока\nconst result = $input.first().json;\nconst metadata = $('Code: Prepare Auth').item.json._metadata;\nconst telegramId = $('Code: Prepare Auth').item.json.telegramId;\n\n// Проверяем, была ли ошибка\nif (result.error) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'Database error: ' + result.error.message\n\t\t}\n\t}];\n}\n\nconst playerExists = result && result.length > 0 && result[0];\n\nif (playerExists) {\n\t// Игрок существует - возвращаем его данные\n\tconst player = result[0];\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: true,\n\t\t\tplayerId: player.player_id,\n\t\t\tisNewPlayer: false,\n\t\t\ttoken: `token-${telegramId}-${Date.now()}`,\n\t\t\tcreatedAt: player.created_at\n\t\t}\n\t}];\n} else {\n\t// Игрок не существует - создаём нового\n\t// Используем функцию buildInitialSnapshot через upsert с начальными данными\n\tconst now = Date.now();\n\tconst initialPlayer = {\n\t\tid: `player-${telegramId}`,\n\t\ttelegramId: telegramId,\n\t\tname: 'Игрок',\n\t\tcash: 1500000,\n\t\tnetWorth: 1500000,\n\t\tloans: [],\n\t\tproperties: [],\n\t\tcityId: 'murmansk',\n\t\tdifficulty: 'normal',\n\t\texperience: 0,\n\t\tlevel: 1,\n\t\tstats: {\n\t\t\ttotalSales: 0,\n\t\t\ttotalRentIncome: 0,\n\t\t\ttotalRenovations: 0,\n\t\t\tpropertiesOwned: 0\n\t\t},\n\t\tlastSyncedAt: now,\n\t\tcreatedAt: now,\n\t\tcurrentMonth: 0,\n\t\ttotalMonths: 0\n\t};\n\t\n\tconst initialMarket = {\n\t\tcityId: 'murmansk',\n\t\tphase: 'стабильность',\n\t\tpriceIndex: 1,\n\t\trentIndex: 1,\n\t\tvacancyRate: 0.05,\n\t\tactiveEvents: [],\n\t\tlastUpdatedAt: now,\n\t\tcurrentPhase: 'стабильность'\n\t};\n\t\n\tconst createQuery = \"SELECT upsert_player_snapshot($1::BIGINT, $2::JSONB, $3::JSONB, $4::JSONB, $5::BIGINT, $6::JSONB, $7::JSONB, $8::JSONB) as result;\";\n\t\n\treturn [{\n\t\tjson: {\n\t\t\tquery: createQuery,\n\t\t\tparameters: [\n\t\t\t\ttelegramId,\n\t\t\t\tJSON.stringify(initialPlayer),\n\t\t\t\tJSON.stringify(initialMarket),\n\t\t\t\tJSON.stringify([]),\n\t\t\t\tnow,\n\t\t\t\tJSON.stringify([]),\n\t\t\t\tJSON.stringify([]),\n\t\t\t\tJSON.stringify([])\n\t\t\t],\n\t\t\t_metadata: {\n\t\t\t\toperation: 'create_new_player',\n\t\t\t\ttelegramId: telegramId\n\t\t\t}\n\t\t}\n\t}];\n}"
      },
      "id": "code-process-auth",
      "name": "Code: Process Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-operation",
              "leftValue": "={{ $json._metadata.operation }}",
              "rightValue": "create_new_player",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-create-player",
      "name": "IF: Create Player?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": true
        },
        "additionalFields": {
          "queryParameters": "={{ $json.parameters || [] }}"
        }
      },
      "id": "postgres-create-player",
      "name": "Postgres: Create Player",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 700],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Capital Game"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Формируем финальный ответ авторизации\nconst input = $input.first().json;\nconst telegramId = $('Code: Prepare Auth').item.json.telegramId;\n\n// Проверяем, была ли ошибка при создании\nif (input && input.error) {\n\treturn [{\n\t\tjson: {\n\t\t\tsuccess: false,\n\t\t\tmessage: 'Failed to create player: ' + input.error.message\n\t\t}\n\t}];\n}\n\n// Успешное создание нового игрока\nreturn [{\n\tjson: {\n\t\tsuccess: true,\n\t\tplayerId: `player-${telegramId}`,\n\t\tisNewPlayer: true,\n\t\ttoken: `token-${telegramId}-${Date.now()}`\n\t}\n}];"
      },
      "id": "code-response-auth",
      "name": "Code: Response Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 700]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "reference-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-reference-data",
      "name": "Webhook: Reference Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 900],
      "webhookId": "reference-data"
    },
    {
      "parameters": {
        "jsCode": "// Возвращаем статические справочные данные\n// В реальном приложении эти данные могут храниться в БД или конфиге\n\nconst referenceData = {\n\tcities: [\n\t\t{\n\t\t\tid: 'murmansk',\n\t\t\tname: 'Мурманск',\n\t\t\tdistricts: ['Центр', 'Спальный район', 'Возле порта', 'Отдалённый район'],\n\t\t\tbasePrice: 3000000,\n\t\t\tbaseRent: 25000\n\t\t}\n\t],\n\tloanPresets: {\n\t\teasy: {\n\t\t\tbaseInterestRate: 8.5,\n\t\t\tmaxLtv: 0.8,\n\t\t\tdescription: 'Лёгкая сложность'\n\t\t},\n\t\tnormal: {\n\t\t\tbaseInterestRate: 12.5,\n\t\t\tmaxLtv: 0.7,\n\t\t\tdescription: 'Нормальная сложность'\n\t\t},\n\t\thard: {\n\t\t\tbaseInterestRate: 18.0,\n\t\t\tmaxLtv: 0.6,\n\t\t\tdescription: 'Сложная сложность'\n\t\t}\n\t},\n\tmarketPhases: [\n\t\t{ id: 'growth', name: 'Рост', priceMultiplier: 1.1, rentMultiplier: 1.05 },\n\t\t{ id: 'stability', name: 'Стабильность', priceMultiplier: 1.0, rentMultiplier: 1.0 },\n\t\t{ id: 'crisis', name: 'Кризис', priceMultiplier: 0.85, rentMultiplier: 0.9 }\n\t],\n\tstartingCash: {\n\t\teasy: 2000000,\n\t\tnormal: 1500000,\n\t\thard: 1000000\n\t}\n};\n\nreturn [{\n\tjson: referenceData\n}];"
      },
      "id": "code-reference-data",
      "name": "Code: Reference Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 900]
    }
  ],
  "connections": {
    "Webhook: Save Snapshot": {
      "main": [
        [
          {
            "node": "Code: Prepare Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Save": {
      "main": [
        [
          {
            "node": "Postgres: Save Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Snapshot": {
      "main": [
        [
          {
            "node": "Code: Response Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Snapshot": {
      "main": [
        [
          {
            "node": "Code: Prepare Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Get": {
      "main": [
        [
          {
            "node": "Postgres: Get Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Snapshot": {
      "main": [
        [
          {
            "node": "Code: Response Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Auth": {
      "main": [
        [
          {
            "node": "Code: Prepare Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Auth": {
      "main": [
        [
          {
            "node": "Postgres: Check Player",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Check Player": {
      "main": [
        [
          {
            "node": "Code: Process Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Process Auth": {
      "main": [
        [
          {
            "node": "IF: Create Player?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Create Player?": {
      "main": [
        [
          {
            "node": "Postgres: Create Player",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Response Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Create Player": {
      "main": [
        [
          {
            "node": "Code: Response Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Reference Data": {
      "main": [
        [
          {
            "node": "Code: Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-20T10:00:00.000Z",
      "updatedAt": "2024-01-20T10:00:00.000Z",
      "id": "capital-game",
      "name": "Capital Game"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "1"
}

